body {
    padding: 0%;
    margin: 0%;
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;
}

.PrjIntroContainer {
    display: flex;
    flex-wrap: wrap;
    background-color: #F2DFD7;
    margin-top: 50px;
    width: 100%;
  
    font-family: sans-serif;
}

.PrjTitleContainer {
   

    margin-top: 50px;
    width: 45%;
    margin-left: 20%;
  
}
.prjTitle{
  font-size:45px;
}

.PrjTime, .PrjRole {
    flex-basis: 50%;
    box-sizing: border-box;
    padding: 10px;
    margin-top: 5%;
    left: 10%;
  }
  
  .PrjTime {

    padding-left: 0%;

  }
  .PrjRole {

    padding-left: 20%;

  }
  .bullet::before {
    content: '\2022';
    display: inline-block;
    margin-right: 10px;
  }

  /* ------------PRJ BACKGROUND ----------- */

.heder{
    margin-left: 20%;
}
.descrption{
    margin-left: 20%;
    margin-right: 20%;
}


/* -------------- PRJ DESCRIPTION -------------- */
.chapter {
    display: flex;
    flex-wrap: wrap;
    background-color: #F2DFD7;
    margin-top: 50px;
    width: 100%;
    
}
.center {

margin-left: 45%;

}


.collapsible-section {
    display: block;
  }

  .readMore{
   color:rgb(143, 143, 241);
  }
.readMore:hover{
color: #f88d00;
}
  .methodesText{
    margin-left: 10%;
    color:rgb(236, 182, 182);
    margin-left: 20%;
    margin-right: 20%;
  }

  .smallimage{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 30%;
    width: 30%;
    margin-left: 30%;
  }


  .designImages{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 50%;
    width: 50%;
    margin-left: 25%;
  }

  .middelImages{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 35%;
    width: 35%;
    margin-left: 25%;
  }

  .image-container {
    text-align: center; /* Align images horizontally */
  }
  
  .image-container img {
    display: inline-block; /* Display images next to each other */
    width: 20%; /* Set image width to 50% of container */
    height: auto; /* Set image height to maintain aspect ratio */
  }



  p{
    line-height: 28px;
}



.button {
  display: inline-block;
  margin: 8px auto;
    padding: 8px 15px;
    font-size: 16px;
  font-weight: bold;

  text-decoration: none;
  color: #ffffff;
  background-color: rgb(156, 109, 109);

  border-radius: 10px;
  border: none;
  cursor: pointer;
  width: 100px;
  height: 30px;
  margin-left: 15px;
}
.button:hover{

  color: #000000;
}


.colorBox {
  display: flex;
  border-radius: 5px;
  margin-top: 10px;
  padding-right: 30px;
  background-color: #F2DFD7;
  margin-left: 20%;
  margin-right: 30%;
}  
.readMore{

margin-right: auto;
}
.dropdown-icon {
  display: inline-block;
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 10px 10px 0 10px;
  border-color: #000000 transparent transparent transparent;

}
.dropup-icon {
  display: inline-block;
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 0 10px 10px 10px;
  border-color: transparent transparent #000000 transparent;
  margin-left: 5px;
  vertical-align: middle;
}