body {
  padding: 0%;
  margin: 0%;
  box-sizing: border-box;
  font-family: 'Open Sans', sans-serif;
}

.row {
  display: flex;
  height: 100%;
}

/* Create two equal columns that sits next to each other */
.column {
  flex: 50%;
  padding: 10px;
  height: 100%;
  margin-left: 20%;
  margin-top: 10%;
  width: 100%;
}

.ProjrctImg {

  height: 45vh;
  width: 40vh;

}
.containerImg {
  width: 100%;
  height: 100%;

}

.button {
  display: inline-block;
  padding: 8px 15px;
  font-size: 16px;
  font-weight: bold;

  text-decoration: none;
  color: #ffffff;
  background-color: rgb(156, 109, 109);

  border-radius: 10px;
  cursor: pointer;
  width: 100px;
  height: 30px;
  margin-left: 8%;
  margin-top: 40px;
}

.button:hover {

  color: #000000;
}

